.todo-list {
  background-color: white;
  width: 440px;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
}

.todo-list-withTodos {
  background-color: white;
  width: 440px;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #efefef;

  box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /*The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.todo-input {
  margin: auto;
  display: flex;
  border-bottom: 1px solid #efefef;
}

.input-panel {
  font-size: 40px;
  width: 440px;
  border: none;
  min-height: 85px;
  color: #333333;
}

.todo-completed {
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  word-break: break-all;
  border-bottom: 1px solid #efefef;

  font-style: italic;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.25);
}

.todo-uncompleted {
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  word-break: break-all;
  border-bottom: 1px solid #efefef;
  color: #333333;
}

.deleteButton {
  display: block;
  align-items: center;
  word-break: normal;
  position: static;
  margin-left: 5px;
  margin-right: 5px;
}
